/*  about starts  */

.about-content {
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.about-content img {
    height: 600px;
    margin-top: 9rem;
}

.about-content .info {
    margin-top: 15rem;
}

.about-content .info h2 {
    font-size: 3rem;
    color: #ff0000;
}

.about-content .info h1 {
    line-height: 1.6;
}

.about-content .info p {
    padding-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.8;
}

.info-container {
    margin-top: -30rem;
    margin-right: -70rem;
}

.info-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-bottom: 3rem;
}

.info-name b {
    color: #ff0000;
    font-size: 1.8rem;
}

.info-name p {
    font-size: 1.4rem;
    line-height: 2;
}

/*  about ends  */