/*  about starts  */

.about-content {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.about-content img {
    height: 600px;
    margin-top: 9rem;
}

.about-content .info {
    margin-top: 15rem;
}

.about-content .info h2 {
    font-size: 3rem;
    color: #ff0000;
}

.about-content .info h1 {
    line-height: 1.6;
}

.about-content .info p {
    padding-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.8;
}

.info-container {
    margin: -30rem auto 0 70rem;
}

.info-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
}

.info-name b {
    color: #ff0000;
    font-size: 1.8rem;
}

.info-name p {
    font-size: 1.4rem;
    line-height: 2;
}

/*  about media query starts  */

@media (max-width: 768px) {

    .about-content {
        display: flex;
        justify-content: center;
        gap: 4rem;
        margin-top: 4rem;
        margin-bottom: 0;
    }

    .about-content img {
        height: 450px;
    }

    .about-content .info {
        margin-top: 12rem;
    }

    .about-content .info h2 {
        font-size: 2.2rem;
        color: #ff0000;
    }

    .about-content .info h1 {
        font-size: 1.7rem;
    }

    .about-content .info p {
        padding-top: 1rem;
        font-size: 1.3rem;
        line-height: 1.8;
    }

    /* .info-container {
        display: flex;
        flex-direction: column;
    } */

    .info-items {
        display: flex;
        flex-direction: column;
        margin-left: -40rem;
        gap: 2rem;
    }

    .info-name b {
        color: #ff0000;
        font-size: 1.3rem;
    }

    .info-name p {
        font-size: 1rem;
        line-height: 2;
    }
}

@media (max-width: 450px) {
    .about-content {
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
    }

    .about-content img {
        width: 370px;
        height: 480px;
    }

    .about-content .info {
        margin-top: .1rem;
        margin-bottom: 2rem;
    }

    .about-content .info h2 {
        font-size: 2.2rem;
        color: #ff0000;
    }

    .about-content .info h1 {
        font-size: 1.7rem;
    }

    .about-content .info p {
        padding-top: 1rem;
        font-size: 1.3rem;
        line-height: 1.8;
    }

    .info-container {
        display: none;
    }
}

/*  about media query ends  */

/*  about ends  */