/*  blog starts  */

.title h1 {
    font-size: 3rem;
    padding: .5rem;
    margin: 10rem auto 0rem auto;
    width: 300px;
    height: 50px;
    color: #ff0000;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/*  card starts  */

.blog-container .card {
    width: 300px;
    height: 450px;
    background-color: rgb(22, 22, 22);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 3rem 2rem;
}

.blog-container .card:hover {
    transform: scale(1.03)
}

.card img {
    width: 100%;
    height: 230px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-content {
    padding: 20px;
}

.card h2 {
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
}

.card p {
    font-size: 1.4rem;
    color: #fff;
    padding-top: 1rem;
    text-align: center;
}

.more-btn {
    display: inline-block;
    padding: 1.2rem 3rem;
    margin: 2rem 6rem;
    background: linear-gradient(130deg, #ff0000 93%, transparent 90%);
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 3px;
}

.btn:hover {
    transform: scale(1.1);
}

/*  card ends  */

/*  blogs media query starts  */
/*  less than 768px screen*/
@media (max-width: 768px) {

    .title h1 {
        width: 120px;
    }

    .blog-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5rem;
    }

    .blog-container .card {
        width: 300px;
        height: 400px;
    }

    .card img {
        width: 300px;
        height: 200px;
    }

    .more-btn {
        margin: 2rem 8rem;
    }
}

/*  less than 450px screen*/
@media (max-width: 450px) {
    .title h1 {
        width: 120px;
    }

    .blog-container {
        display: flex;
        flex-direction: column;
    }

    .blog-container .card {
        width: 250px;
        height: 350px;
    }

    .card img {
        width: 250px;
        height: 150px;
    }

    .more-btn {
        margin: 2rem 5.7rem;
    }
}

/*  blogs media query ends  */
/*  blog ends  */