/*  contact starts  */
.contact-container {
    margin-top: 10rem;
}

.contact-container h1 {
    font-size: 3rem;
    padding: .5rem;
    margin: 8rem auto 0 auto;
    width: 200px;
    height: 50px;
    color: #ff0000;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
}

.contact-container p {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.5rem;
}

.contact-container .contact-form {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    gap: 10rem;
}

.contact-container .contact-form .form h2 {
    font-size: 2.5rem;
    padding-top: 3rem;
}

.contact-container .contact-form .form .form-group {
    margin-top: 1rem;
    margin-left: -7rem;
}

.contact-form .form .form-group input,
textarea {
    padding: 1.5rem 7rem;
    border-radius: 5px;
    background-color: rgb(22, 22, 22);
    text-align: center;
}

.contact-form .form .form-group textarea {
    margin-top: 0rem;
    padding: .5rem 6.8rem;
}

.contact-form .form a {
    margin-left: -6.5rem;
}

.contact-form .contact-info {
    text-align: center;
    padding-top: 10rem;
}

.contact-form .contact-info h2 {
    font-size: 2.5rem;
}

/*  contact media query starts  */

@media (max-width: 768px) {
    .contact-form {
        display: flex;
        justify-content: center;
        margin-left: 6rem;
    }

    .contact-form .form .form-group textarea {
        padding: .5rem 7.5rem;
    }
}

@media (max-width: 450px) {
    .contact-container h1 {
        width: 150px;
        height: 40px;
        font-size: 2.5rem;
        margin-top: 12rem;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 8rem;
    }

    .contact-form .contact-info {
        padding: 0 8rem 2rem 0;
        margin-top: -6rem;
    }
}

/*  contact media query ends  */
/*  contact ends  */