@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Roboto&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body {
    color: #fff;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: black;
    }

    &::-webkit-scrollbar-thumb {
        background: red;
    }
}

.home {
    padding: 0;
    margin-top: 7rem;
}

.home .slide {
    min-height: 70vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
}

.slide .content span {
    font-size: 2rem;
    color: #ff0000;
    display: block;
    padding: 1rem 0;
}

.slide .content {
    width: 60rem;
}

.slide .content h3 {
    font-size: 5rem;
    color: #ffffff;
}

.btn {
    margin: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, #ff0000 93%, transparent 90%);
    font-size: 1.5rem;
    color: #fff;
    border: none;
}

.btn:hover {
    transform: scale(1.05);
}

/*  workout starts  */

.fitness-workout-container h1 {
    font-size: 3rem;
    padding: .5rem;
    margin: 8rem auto 8rem auto;
    width: 300px;
    height: 50px;
    color: #ff0000;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
}

.fitness-workout-container .workout-types {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.workout-card {
    width: 24.5%;
    height: 450px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    margin-bottom: 5rem;
}

.workout-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.workout-card img {
    border-radius: 5px;
    padding: 1rem;
    width: 360px;
    height: 250px;
    text-align: center;
}

.workout-card h2 {
    font-size: 2rem;
    margin-top: 0.5rem;
    text-align: center;
    padding-top: 1rem;
}

.workout-card p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-align: center;
    padding-top: 1rem;
    margin: 0.5rem 0;
}

.workout-card a {
    margin: 2rem 11rem;
    display: inline-block;
    padding: 1rem 2rem;
    background: linear-gradient(130deg, #ff0000 93%, transparent 90%);
    font-size: 1.5rem;
    color: #fff;
}

/*  workout ends  */

/*  testimonal starts  */

.test-container h1 {
    font-size: 3rem;
    padding: .5rem;
    margin: 5rem auto 8rem auto;
    width: 200px;
    height: 50px;
    color: #ff0000;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
}

.test-container .test-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.test-content article {
    background: linear-gradient(130deg, rgb(22, 22, 22) 93%, transparent 90%);
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    height: 130px;
}

.test-content div h2 {
    padding-top: 0;
    font-size: 2rem;
}

.test-content div p,
article p {
    font-size: 1.5rem;
    line-height: 1.8;
}

.test-content .feeds{
    display: flex;
    gap: 2rem;
}

.test-content article .test-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.test-content article .test-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.test-content article .test-img .test-name {
    font-size: 1.3rem;
}

/*  testimonal ends  */

/*  footer starts  */

.footer-container {
    display: flex;
    justify-content: center;
    gap: 15rem;
    padding-top: 12rem;
    padding-bottom: 3rem;
}

.footer-container .box h3 {
    font-size: 2.5rem;
}

.footer-container .box .timings,
form {
    padding-top: 2rem;
}

.footer-container .box .timings p {
    line-height: 2.5;
    font-size: 1.5rem;
    font-weight: 600;
}

.box .timings p i {
    font-weight: 600;
    color: #ff0000;
}

.box form input {
    margin-top: 1rem;
    padding: 1.2rem 3.5rem;
    border-radius: 5px;
    background-color: rgb(22, 22, 22);
}

.box form textarea {
    margin-top: 1rem;
    padding: 1.2rem 3.2rem;
    border-radius: 5px;
    background-color: rgb(22, 22, 22);
    text-align: start;
}

.box form .btn {
    margin-top: 1.5rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: linear-gradient(130deg, #ff0000 93%, transparent 90%);
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}

/*  footer ends  */

/*  home  media query starts  */

@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

    section {
        padding: 3rem 2rem;
    }

    .home .slide {
        padding: 2rem 5%;
    }

    .home .slide .content {
        width: 50rem;
    }

    h3 {
        font-size: 4rem;
    }

}

@media (max-width: 768px) {

    .wrapper .slide a {
        margin-left: 1rem;
    }

    .home .fitness-workout-container h1 {
        padding: .8rem;
        width: 250px;
    }

    .fitness-workout-container .workout-types {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
    }

    .workout-types .workout-card {
        height: 320px;
        width: 220px;
        margin-left: -2rem;
    }

    .workout-types .workout-card img {
        width: 220px;
        height: 130px;
    }

    .workout-types .workout-card a {
        display: block;
        width: 130px;
        margin-left: 5rem;
    }

    .home .test-container h1 {
        padding: .8rem;
    }

    .test-container .test-content {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .test-container .test-content div a {
        margin-left: .1rem;
    }

    .test-container .test-content .feeds {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .test-container .test-content article {
        width: 250px;
        height: 130px;
        margin-bottom: .2rem;
    }

    .test-container .test-content article .test-img img {
        width: 30px;
        height: 30px;
        margin-top: 2rem;
        margin-left: -6rem;
    }

    .test-container .test-content article .test-img h3 {
        font-size: 1.8rem;
        padding-top: 1.5rem;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
    }

    .footer-container .box {
        margin-top: -10rem;
        text-align: center;
    }

    .footer-container .box textarea {
        width: 220px;
    }

}

@media (max-width: 450px) {

    html {
        font-size: 55%;
    }

    .wrapper .slide a {
        margin-left: 1rem;
    }

    .home .fitness-workout-container h1 {
        padding: .8rem;
        width: 250px;
        margin-bottom: 10rem;
    }

    .fitness-workout-container .workout-types {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .workout-types .workout-card {
        margin-top: -5rem;
        height: 310px;
    }

    .workout-types .workout-card img {
        width: 220px;
        height: 150px;
    }

    .workout-types .workout-card h2 {
        margin-top: -1.5rem;
    }

    .workout-types .workout-card a {
        display: block;
        width: 120px;
        margin-left: 5.8rem;
        font-size: 1.2rem;
    }

    .home .test-container h1 {
        padding: .8rem;
    }

    .test-container .test-content {
        display: flex;
        flex-direction: column;
    }

    .test-container .test-content div a {
        margin-left: .1rem;
    }

    .test-container .test-content article {
        width: 250px;
        height: 130px;
        margin-bottom: -3rem;
    }

    .test-container .test-content article .test-img img {
        width: 30px;
        height: 30px;
        margin-left: -6rem;
    }

    .test-container .test-content article .test-img h3 {
        font-size: 1.8rem;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
    }

    .footer-container .box {
        margin-top: -10rem;
        text-align: center;
    }

    .footer-container .box textarea {
        width: 220px;
    }
}

/*  home media query ends  */