/*  pricing plan starts  */

.price-title h1 {
    font-size: 3rem;
    padding: .5rem;
    margin: 10rem auto 0rem auto;
    width: 300px;
    height: 50px;
    color: #ff0000;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
}

.price-plans {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.plans-info {
    margin-top: 5rem;
    text-align: center;
}

.plans-info:nth-of-type(2) {
    margin-top: 5rem;
    background: linear-gradient(130deg, rgb(22, 22, 22), 93%, transparent 90%);
    height: 430px;
}

.plans-info h2 {
    padding-top: 2rem;
}

.plans-info h1 {
    margin: 0;
    border: none;
    color: #ff0000;
}

.plans-info p {
    font-size: 1.6rem;
    line-height: 2;
    padding-top: 2rem;
}

/*  pricing plan ends  */