/*pricing plan starts */

.price-title h1 {
    font-size: 3rem;
    padding: .5rem;
    margin: 10rem auto 0rem auto;
    width: 300px;
    height: 50px;
    color: #ff0000;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
}

.price-title .price-plans {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.price-title .plans-info {
    margin-top: 5rem;
    text-align: center;
}

.price-title .plans-info:nth-of-type(2) {
    margin-top: 5rem;
    background: linear-gradient(130deg, rgb(22, 22, 22), 93%, transparent 90%);
    height: 430px;
}

.price-title .plans-info h2 {
    padding-top: 2rem;
}

.price-title .plans-info h1 {
    margin: 0;
    border: none;
    color: #ff0000;
}

.price-title .plans-info p {
    font-size: 1.6rem;
    line-height: 2;
    padding-top: 2rem;
}

/*  pricing media query starts  */

@media (max-width: 768px) {

    .price-title h1 {
        width: 220px;
    }

    .price-title .price-plans {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .price-title .plans-info:nth-of-type(2) {
        width: 250px;
        height: 380px;
        background: linear-gradient(130deg, rgb(22, 22, 22), 94%, transparent 90%);
    }

    .price-title .plans-info:nth-of-type(2) h1 {
        margin-left: 2rem;
    }
}

@media (max-width: 450px) {
    .price-title h1 {
        width: 180px;
    }

    .price-title .price-plans {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .price-title .plans-info {
        margin-top: 0;
    }

    .price-title .plans-info:nth-of-type(2) {
        margin-top: 0;
        height: 330px;
    }

    .price-title .plans-info:nth-of-type(2) h1 {
        padding-left: 10rem;
    }

    .price-title .plans-info p {
        line-height: normal;
    }
}

/*  pricing media query ends  */

/*  pricing plan ends */