/*  trainer starts  */

.trainers h1 {
    font-size: 3rem;
    padding: .5rem;
    margin: 10rem auto 0rem auto;
    width: 180px;
    height: 50px;
    color: #ff0000;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
}

.trainers .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
}

.trainers .box-container .box {
    height: 40rem;
    overflow: hidden;
    position: relative;
}

.trainers .box-container .box:hover .content {
    transform: translateY(0);
}

.trainers .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.trainers .box-container .box .content {
    position: absolute;
    top: 29rem;
    right: 0;
    bottom: 0;
    left: 0;
    background: #161616c9;
    padding: 2rem;
    transform: translateY(6.5rem);
}

.trainers .box-container .box .content span {
    font-size: 1.5rem;
    color: #f00;
}

.trainers .box-container .box .content h3 {
    font-size: 2rem;
    color: #fff;
    padding-top: .5rem;
}

.trainers .box-container .box .content .share {
    padding-top: 2rem;
    margin-top: 1.5rem;
    border-top: 0.1rem solid #aaa;
}

.trainers .box-container .box .content .share a {
    font-size: 2rem;
    color: #fff;
    margin-right: 1.5rem;
}

.trainers .box-container .box .content .share a:hover {
    color: #f00;
}

/*  trainers media query starts  */

@media (max-width: 768px) {

    .trainers h1 {
        width: 130px;
    }

    .trainers .box-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
        margin-left: 8rem;
    }

    .trainers .box-container .box {
        margin-top: 5rem;
    }

    .trainers .box-container .box img {
        width: 80%;
    }

    .trainers .box-container .box .content {
        width: 280px;
    }
}

@media (max-width: 450px) {
    .trainers .box-container {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
        margin-left: 7rem;
    }

    .trainers .box-container .box .content {
        width: 217px;
    }
}

/*  trainers media query ends  */

/*  trainer ends  */