body {
    background-color: black;
}

.nav-container {
    padding: 5rem 9%;
}

.nav-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    background: black;
}

.nav-container .logo {
    font-weight: bolder;
    color: white;
    font-size: 3rem;
}

.nav-container .logo span {
    color: red;
}

.nav-container .navbars ul {
    display: flex;
    padding: 1rem;
    font-size: 1.7rem;
    list-style: none;
    gap: 1rem;
}

.nav-container .navbars ul a {
    padding: 1.5rem;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
}

.nav-container .navbars ul a:hover {
    background-color: red;
}

#menu-btn {
    color: #ffffff;
    cursor: pointer;
    display: none;
}

/*  header media queries starts  */

/*  for 991 pixel screen  */
@media (max-width: 991px) {
    .header {
        padding: 0 2rem;
    }
}

/*  for than 768 pixel screen  */
@media (max-width: 768px) {
    .header a {
        padding-bottom: .2rem;
        margin-left: -3rem;
    }

    .nav-container .navbars ul {
        padding-left: 5rem;
    }

    .nav-container .navbars ul a {
        font-size: 1.5rem;
    }
}

/*  less than 450 pixel screen  */

@media (max-width: 450px) {
    .header {
        padding-bottom: 1.5rem;
    }

    #menu-btn {
        display: inline-block;
        height: 60px;
        width: 60px;
        color: #fff;
        padding-top: 1rem;
        padding-left: 5rem;
    }

    /* .nav-container .navbars ul #menu-btn svg {} */

    .nav-container .navbars ul a {
        display: none;
    }
}

/*  header media queries end  */